
/user/public/_thumb/*
/user/application/runtime/*
/user/public/upload/*
/admin/public/_thumb/*
/admin/application/runtime/*
/admin/public/upload/*
/deal/public/_thumb/*
/deal/public/upload/*
/deal/application/runtime/*
/.idea