<!DOCTYPE html>
<html>
<head>
  <title>个人中心</title>
  <meta name="keywords"/>
  <meta name="description"/>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <link href="../../../../views/pc/css/user_index.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../../../../js/jquery/jquery-1.7.2.min.js"></script>
   <script src="../../../../views/pc/js/center.js" type="text/javascript"></script>
  <link href="../../../../views/pc/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   <!-- 头部控制 -->
 <!--  <link href="{views:css/topnav20141027.css}" rel="stylesheet" type="text/css">
 <script src="../../../../views/pc/js/topnav20141027.js" type="text/javascript"></script>  -->
   <!--  头部控制
   
   <script type="text/javascript" src="{root:js/form/validform.js}" ></script>
   <script type="text/javascript" src="{root:js/form/formacc.js}" ></script>
   <script type="text/javascript" src="{root:js/layer/layer.js}"></script>
   <script type="text/javascript" src="{root:js/layer/extend/layer.ext.js}"></script> -->
<script type="text/javascript">
	window.onload = function(){ 
　　var num=$(".fee_table tr.fee_project td").length;
	$(".fee_table .fee_top td").attr("colspan", num+8)
	$(".fee_table .project_num").attr("colspan", num)
} 
</script>

</head>
<body>
<!-- 公用头部控件 -->
	<div class="header">
		<div class="nav">
            <div class="logo-box zn-l">
                <a href="http://192.168.13.4/ducong/nn2/index/index" alt="返回耐耐首页"><img src="/ducong/nn2/user/views/pc/images/icon/nainaiwang.png"></a>
            </div>
			<div class="nav-tit">
                <ul class="nav-list">
                    <li>
                        <a href="http://192.168.13.4/ducong/nn2/user/ucenterindex/index">首页</a>
                    </li>
                    <li>
                        <a href="http://192.168.13.4/ducong/nn2/user/ucenter/baseinfo">账户信息</a>
                    </li>
                    <li>
                        <a href="http://192.168.13.4/ducong/nn2/user/fund/index">资金管理</a>
                    </li>
                    <li>
                        <a href="http://192.168.13.4/ducong/nn2/user/managerdeal/storeproductlist">交易管理</a>
                    </li>
                    <li>
                        <a href="http://192.168.13.4/ducong/nn2/user/managerstore/applystorelist" class="cur">仓库管理</a>
                    </li>
                    <li>
                        <a href="http://192.168.13.4/ducong/nn2/user/message/usermail">关注中心</a>
                    </li>
                </ul>
			</div>
		</div>
	</div>
	<!-- 公用头部控件 end -->
    <div class="user_body">
	    <div class="user_b">
	<!-- 左侧导航 -->
			<div class="user_l">
			   <div class="left_navigation">
			        <ul>
			            <li class="let_nav_tit"><h3>仓库管理</h3></li>
			            <li class="btn1">
			            	<a class="nav-first ">仓单管理<i class="icon-caret-down"></i></a>
			                <ul class="zj_zh">
			                    <li><a href="http://192.168.13.4/ducong/nn2/user/managerstore/storesign" >仓单签发</a></li>
	                            <li><a href="http://192.168.13.4/ducong/nn2/user/managerstore/applystorelist">仓单列表</a></li>
	                            <li>
					                <a href="http://192.168.13.4/ducong/nn2/user/managerstore/storechecklist">
					                    仓单出库审核 
					                </a>
					            </li>
	                        </ul>
			            </li>
			            <li class="btn1">
			                <a class="nav-first ">
			                    子仓库管理 <i class="icon-caret-down"></i>
			                </a>
			                <ul class="zj_zh">
			                    <li><a href="subwarehouse.html" class="cur">子仓库列表</a></li>
	                            <li><a href="subwarehouseadd.html">子仓库添加</a></li>
	                        </ul>
			            </li>
			            <li class="btn1">
			                <a class="nav-first " href="position.html">
			                    仓位列表 
			                </a>
			            </li>
			            <li class="btn1">
			                <a class="nav-first " href="warehousegoods.html">
			                    仓库货物总览 
			                </a>
			            </li>
			            <li class="btn1">
			                <a class="nav-first " href="subwarehousegoods.html">
			                    子仓库货物总览 
			                </a>
			            </li>
			            <li class="let_nav_tit"><h3>费用管理</h3></li>
			            <li class="btn1">
			                <a class="nav-first">
			                    车辆费管理 <i class="icon-caret-down"></i>
			                </a>
			                <ul class="zj_zh">
			                    <li><a class="cur" href="vehiclefeelist.html">车辆费用列表</a></li>
	                            <li><a href="vehiclefeeadd.html">车辆费增加</a></li>
	                        </ul>
			            </li>
			            <li class="btn1">
			                <a class="nav-first ">
			                    仓库费管理 <i class="icon-caret-down"></i>
			                </a>
			                <ul class="zj_zh">
			                    <li><a href="warehousefeelist.html">仓库费管理列表</a></li>
	                            <li><a href="warehouseitemadd.html">费用项增加</a></li>
	                            <li><a href="warehouseitemlist.html">费用项列表</a></li>
	                        </ul>
			            </li>
			            <li class="let_nav_tit"><h3>车辆管理</h3></li>
						<li class="btn1">
			                <a class="nav-first" href="vehiclelist.html">
			                    车辆列表 
			                </a>
			            </li>
			            <li class="btn1">
			                <a class="nav-first" href="vehicleadd.html">
			                    车辆添加 
			                </a>
			            </li>
			            <li class="btn1">
			                <a class="nav-first" href="vehicleusagelist.html">
			                    使用情况列表 
			                </a>
			            </li>
			            <li class="btn1">
			                <a class="nav-first" href="vehicleworkstatistics.html">
			                    工作量统计 
			                </a>
			            </li>
			            
			        </ul>
			    </div>
			</div>
		<!-- 左侧导航 end -->
		<!--start中间内容 仓库管理费列表-->	
			<div class="user_c_list">
				<div class="user_zhxi">
					<div class="zhxi_tit">
						<p><a>费用管理</a>><a>仓库管理费</a>><a>仓库管理费列表</a></p>
					</div>
					<div class="chp_xx">
						<div class="xx_top clear">
							<form method="get">
                               <ul>
     							<li>仓单号：<input type="text" name="" ></li>
     							<li>货物类型：<input type="text" name=""></li>
     							<li>所属人：<input type="text" name=""></li>
     							<li>收费状态：<input type="text" name="" ></li>
     							<li style="padding-top: 10px">
					                收费日期：
					                <input class="Wdate" type="text" onclick="WdatePicker()" name="begin" value=""> <span style="position: relative;"> —</span>
					                <input class="Wdate" type="text" onclick="WdatePicker()" name="end" value="">

					            </li>
     							<li style="padding-top: 10px"> <a class="chaz" onclick="javascript:$(this).parents('form').submit();">结算</a></li>
                               </ul>
							</form>
						</div>
						<div class="xx_center">
							<div class="fee_div_width">
							<table class="fee_table" border="0"  cellpadding="" cellspacing="">		
								<tr class="fee_top"><td  class="td_top_sum">总计：<span class="number">600元</span></td></tr>
								<tr class="title">
									<td rowspan="2"><div  style="width: 30px;">序号<div></td>
									<td rowspan="2"><div style="width: 100px;">仓单号</div></td>
									<td class="project_num">收费项(元)</td>
									<td rowspan="2"><div style="width: 80px;">费用（元）</div></td>
                                    <td rowspan="2"><div style="width: 80px;">收费状态</div></td>
                                    <td rowspan="2"><div style="width: 80px;">货物类型</div></td>
                                    <td rowspan="2"><div  style="width: 80px;">所属人</div></td>
                                    <td rowspan="2"><div style="width: 120px;">收费日期</div></td>
                                    <td rowspan="2"><div style="width: 100px;">操作</div></td>
								</tr>
								<tr class="fee_project">
									<td><div style="width: 80px;">化验费</div></td>
									<td><div style="width: 80px;">过磅费</div></td>
									<td><div style="width: 80px;">信息服务费</div></td>
									<td><div style="width: 80px;">分拣费</div></td>
									<td><div style="width: 80px;">存储费</div></td>
								</tr>
                                <tr>
                                    <td>1</td>
                                    <td>121443432hhhhh</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>200</td>
                                    <td>400</td>
                                    <td>400</td>
                                    <td>1200</td>
                                    <td>已收费</td>
                                    <td>矿物</td>
                                    <td>默默</td>
                                    <td>2017/12/12/30 8:20:00</td>
                                    <td>
                                      <a>删除</a>
                                    </td>
                                           
                                </tr>
                                <tr>
                                	<td colspan="2" >总计</td>
                                	<td>100</td>
                                	<td>100</td>
                                	<td>200</td>
                                	<td>400</td>
                                	<td>400</td>
                                	<td>400</td>
                                	<td>1200</td>
                                	<td colspan="4"></td>
                                </tr>
                              
							</table>
							</div>
							<div class="page_num">
							<div class="pages_bar"><a href="/ducong/nn2/user/managerstore/applystorelist?page=1">首页</a><a class="current_page" href="/ducong/nn2/user/managerstore/applystorelist?page=1">1</a><a href="/ducong/nn2/user/managerstore/applystorelist?page=2">2</a><a href="/ducong/nn2/user/managerstore/applystorelist?page=3">3</a><a href="/ducong/nn2/user/managerstore/applystorelist?page=4">4</a><a href="/ducong/nn2/user/managerstore/applystorelist?page=5">5</a><a href="/ducong/nn2/user/managerstore/applystorelist?page=5">尾页</a><span>当前第1页/共5页</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	</body>
</html>
			
			