

.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #f3f3f3;
/*	border-radius: 3px;
   -webkit-border-radius: 3px;  
   -moz-border-radius: 3px;*/  
    overflow: hidden;
	color: black;
	/*width: 68px;
	height: 21px;*/
	width: 75px;
	height: 75px;
	font-size: 12px;
	text-align: center;
	line-height: 21px;
	vertical-align: middle;
}
.webuploader-pick-hover {
	background: #f3f3f3;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}
#picker{
	position: relative;
}
#picker .line_l{
    display: block;
    height: 38px;
    width: 2px;
    background: #e3e3e3;
    position: absolute;
    top: 18.5px;
    left: 36px;
}

#picker .line_h{
    display: block;
    height: 2px;
    width: 38px;
    background: #e3e3e3;
    position: absolute;
    top: 36px;
    left: 18.5px;
}
.btns .filesm{
	color: #ddd;
	font-size: 12px;
}