<!DOCTYPE html>
<html>
<head>
  <title>招标-开标</title>
  <meta name="keywords"/>
  <meta name="description"/>
  <meta charset="utf-8">
  <link href="../css/user_index.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
  <script language="javascript" type="text/javascript" src="../js/My97DatePicker/WdatePicker.js"></script>
  <script type="text/javascript" src="../js/regular.js"></script>
   <script src="../js/center.js" type="text/javascript"></script>
  <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   <!-- 头部控制 -->
  <link href="../css/topnav20141027.css" rel="stylesheet" type="text/css">
  <script src="../js/topnav20141027.js" type="text/javascript"></script>
  <script src="../js/tender_con.js" type="text/javascript"></script>
    <!-- 头部控制 -->
</head>
<body>

<div class="header">
		<div class="nav">
            <div class="logo-box zn-l">
                <a href="../index.html" alt="返回耐耐首页"><img src="../images/icon/nainaiwang.png"/></a></dd>
            </div>
			<div class="nav-tit">
				<ul class="nav-list">
                    <li>
                        <a href="user_index.html">会员中心</a>
                   </li>
                    <li>
                        <a href="user_zh.html">账户信息</a>
                    </li>
                    <li>
                        <a href="user_zj.html">资金管理</a>
                    </li>
                    <li>
                        <a href="user_dd.html">交易管理</a>
                    </li>
                    <li>
                        <a href="user_cd.html">仓单管理</a>
                    </li>
                    <li>
                        <a href="user_chl.html">车辆管理</a>
                    </li>
                    <li>
                        <a href="user_gz.html">关注中心</a>
                    </li>
                    <li>
                        <a href="user_dd.html" class="cur">信息发布</a>
                    </li>
                </ul>
			</div>
		</div>
	</div>
	<div class="user_body">
		<div class="user_b">
        <!--start左侧导航-->    
            <div class="user_l">
                <div class="left_navigation">
                    <ul>
                       <li class="let_nav_tit"><h3>信息发布</h3></li>
                       <li class="btn1"><a href="tender_list.html" class="nav-first cur">我的招标</a></li> 
                       <li class="btn1"><a href="my_bid.html" class="nav-first">我的投标</a></li>
                       <li class="btn1"><a href="cd_list_sh.html" class="nav-first">仓单审核</a></li>
                    </ul>
                </div>
            </div>
			<!--end左侧导航-->	
			<!--start中间内容-->	
            <style type="text/css">
                #supplier_list .chose .ok{margin-left: 200px;}
            </style>
			<div class="user_c">
				<div class="user_zhxi">
					<div class="zhxi_tit">
						<p><a>我的招标</a>><a>开标</a></p>
					</div>
                                                        <div class="project_detail">
                                                            <h1>501矿</h1>
                                                            <p>招标方：海天贸易</p>
                                                            <p>招标方式：公开招标</p>
                                                            <p>评标类型：分包</p>
                                                            <p>项目地点：中国 山西省 阳泉市 郊区</p>
                                                            <p>投标时间：2015-8-10——2015-10-8</p>
                                                            <p>开标地点：[线上]</p>

                                                        </div>
					<div class="center_tabl">
                                                            <ul class="step_list">
                                                                <li class="step">
                                                                    <span class="val_on on">1</span>
                                                                    <p class="step_name">
                                                                        <span class="on">公告发布</span>
                                                                    </p>
                                                                </li>
                                                                <li class="step">                                                                    
                                                                    <span class="val_on on">2</span>
                                                                    <p class="step_name">
                                                                        <span class="on">资格预审</span>
                                                                    </p>
                                                                </li>
                                                                <li class="step">                                                                    
                                                                    <span class="val_on on">3</span>
                                                                    <p class="step_name">
                                                                        <span class="on">开标</span>
                                                                    </p>
                                                                </li>
                                                                <li class="step">                                                                    
                                                                    <span class="val_on ">4</span>
                                                                    <p class="step_name">
                                                                        <span class="">中标结果</span>
                                                                    </p>
                                                                </li>
                                                            </ul>


                                                            
                                                        <div class="invite" id="invite" style="padding-top:47px;">
                                                            
                                                            <div class="invite_title">
                                                                    <span>在线开标</span>
                                                                </div>
                                                                <div class="bid_zige">
                                                                    <div class="bid_cont">
                                                                        <p>包件号：<a class="package on" onclick="show(0)">OC-1</a><a class="package" onclick="show(1)">OC-2</a></p>
                                                                    </div>
                                                                    <table id="table0" name="package">
                                                                        <tr>
                                                                            <td>会员名称</td>
                                                                            <td>标书</td>
                                                                            <td>资质信息</td>
                                                                            <td>投标时间</td>
                                                                            <td>对比选择</td>
                                                                            <td>选择中标</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>海天贸易</td>
                                                                            <td><a href="" style="color:#1a59d9;">下载</a></td>
                                                                            <td><a href="" style="color:#1a59d9;">查看</a></td>
                                                                            <td>2015-2-8</td>
                                                                            <td><input type="checkbox"></td>
                                                                            <td><a class="chose_supplier" style="color:#1a59d9;">选择</a></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>海天贸易</td>
                                                                            <td><a href="" style="color:#1a59d9;">下载</a></td>
                                                                            <td><a href="" style="color:#1a59d9;">查看</a></td>
                                                                            <td>2015-2-8</td>
                                                                            <td><input type="checkbox"></td>
                                                                            <td><a class="chose_supplier" style="color:#1a59d9;">选择</a></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="6">
                                                                                <button onclick="javascript:window.location.href=' package_compare.html'">对比</button><button onclick="javascript:window.location.href=' package_compare.html'">全部对比</button>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table id="table1" name="package" style="display:none;">
                                                                        <tr>
                                                                            <td>会员名称</td>
                                                                            <td>标书</td>
                                                                            <td>资质信息</td>
                                                                            <td>投标时间</td>
                                                                            <td>对比选择</td>
                                                                            <td>选择中标</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>贸易</td>
                                                                            <td><a href="" style="color:#1a59d9;">下载</a></td>
                                                                            <td><a href="" style="color:#1a59d9;">查看</a></td>
                                                                            <td>2015-2-8</td>
                                                                            <td><input type="checkbox"></td>
                                                                            <td><a class="chose_supplier" style="color:#1a59d9;">选择</a></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>贸易</td>
                                                                            <td><a href="" style="color:#1a59d9;">下载</a></td>
                                                                            <td><a href="" style="color:#1a59d9;">查看</a></td>
                                                                            <td>2015-2-8</td>
                                                                            <td><input type="checkbox"></td>
                                                                            <td><a class="chose_supplier" style="color:#1a59d9;">选择</a></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="6">
                                                                                <button onclick="javascript:window.location.href=' package_compare.html'">对比</button><button onclick="javascript:window.location.href=' package_compare.html'">全部对比</button>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                                                                                        
                                                                </div>
                                                            </div>

                                                            <div class="clear"></div>

                                                            
                                                            <div class="button"><button style="float: left;margin-right:20px;">评标结束</button><button style="margin:0;">项目流标</button></div>

                                                        </div>
				</div>
			</div>

            <script>
            function show(id){
            var divs = document.getElementsByName("package")
            for (var i = 0 ; i < divs.length ; i++){
            if (divs[i].id == "table"+id ){
            divs[i].style.display=""
            }else{
            divs[i].style.display="none"
            }
            }
            }
            $('.package').bind('click', function(){
                $(this).addClass('on').siblings().removeClass('on');
            });
            </script>
            <div id="supplier_list" style="display:none;width:470px;left:40%;">
                <div class="invite_mem">
                    <div class="title" style="width:450px;">
                        <h5>评标</h5>
                        <i class="close">X</i>
                    </div>

                    <div class="chose" style="width:450px;">
                        <div class="search">
                            <p>项目名称：<b>上海建筑用钢招标会</b></p>
                            <p>包件：OC-2</p>
                            <p>中标单位名称：aa(02000001)</p>
                            <p>资质分数：<input type="text" style="border-radius:0;"></p>
                            <p>技术分数：<input type="text" style="border-radius:0;"></p>
                            <p>商务分数：<input type="text" style="border-radius:0;"></p>
                            <p><input type="radio" name="bidd">确定中标<input type="radio" name="bidd">该包件流标</p>
                            <p>注：预中标结果发布，三天后若无异议，将自动释放未中标人缴纳的保证金！</p>
                        </div>
                        <button class="ok" style="margin-left:150px;">确定</button>
                        <button class="close">关闭</button>
                    </div>
                </div>
            </div>

			<!--end中间内容-->	
			<!--start右侧广告			
			<div class="user_r">
				<div class="wrap_con">
					<div class="tit clearfix">
						<h3>公告</h3>
					</div>
					<div class="con">
						<div class="con_medal clearfix">
							<ul>
								<li><a>暂无勋章</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--end右侧广告-->
		</div>
	</div>
</body>
</html>