<!DOCTYPE html>
<html>
 <head>
        <title>招投标管理</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        
        <!-- jQuery AND jQueryUI -->
        <script type="text/javascript" src="js/libs/jquery/1.6/jquery.min.js"></script>
        <script type="text/javascript" src="js/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
        
        <!-- Compressed Version
        <link type="text/css" rel="stylesheet" href="min/b=CoreAdmin&f=css/reset.css,css/style.css,css/jqueryui/jqueryui.css,js/jwysiwyg/jquery.wysiwyg.old-school.css,js/zoombox/zoombox.css" />
        <script type="text/javascript" src="min/b=CoreAdmin/js&f=cookie/jquery.cookie.js,jwysiwyg/jquery.wysiwyg.js,tooltipsy.min.js,iphone-style-checkboxes.js,excanvas.js,zoombox/zoombox.js,visualize.jQuery.js,jquery.uniform.min.js,main.js"></script>
        -->
        <link rel="stylesheet" href="css/min.css" />
        <script type="text/javascript" src="js/min.js"></script>
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/H-ui.min.css">
    </head>
    <body>
            
        <!--            
              CONTENT 
                        --> 
        <div id="content" class="white">
            <h1><img src="img/icons/dashboard.png" alt="" />招投标管理
</h1>
                
<div class="bloc">
    <div class="title">
       招标公告详情
    </div>
     <div class="pd-20">
        <p>招标方：李庆国</p>
        <p>招标方式：公开招标</p>
        <p>评标类型：分包</p>
        <p>项目地点：上海市</p>
        <p>投标时间：2017-6-2</p>
        <p>开标时间：2017-6-3</p>
        <p>开标地点：线上</p>
        <p>一、招标条件</p>
        <p>上海建筑用钢招标会</p>
        <p>二、项目概况与招标内容</p>
        <p>1、项目概况</p>
        <p>上海建筑用钢招标会</p>
        <p>2、招标内容</p>
        <p>上海建筑用钢招标会</p>
	 	 <table class="table table-border table-bordered table-bg">
	 		<tr>
                    <th>包件号</th>
                    <th>货物编号</th>
                    <th>品牌</th>
                    <th>型号规格</th>
                    <th>技术要求</th>
                    <th>计量单位</th>
                    <th>数量</th>
                    <th>交付日期（天）</th>
	 		</tr>
            <tr>
                <td rowspan="2">oc-1</td>
                <td>建筑用钢</td>
                <td>莱钢</td>
                <td>HRB400</td>
                <td>合格</td>
                <td>吨</td>
                <td>100</td>
                <td>30</td>
            </tr>
            <tr>
                <td>建筑用钢</td>
                <td>莱钢</td>
                <td>HRB401</td>
                <td>合格</td>
                <td>吨</td>
                <td>50</td>
                <td>30</td>
            </tr>
            <tr>
                <td>oc-2</td>
                <td>螺纹管</td>
                <td>宝钢</td>
                <td>HRB409</td>
                <td>合格</td>
                <td>吨</td>
                <td>200</td>
                <td>30</td>
            </tr>
      	 		
	 	</table>

        <p>三、资格要求</p>
        <p>四、项目报名与招标文件的获取</p>
        <p>五、投标文件的递交与开标时间及地点</p>
        <p>六、其他事项</p>
        <p>无其他注意事项</p>
        <p>七、发布公告的媒介</p>
        <p>本项目公告仅在耐耐网电子商务平台上发布，本公告的修改、补充，以在耐耐网电子商务平台发布的内容为准。本公告在各媒体发布的文本如有不同之处，以在耐耐网电子商务平台发布的文本为准。</p>
        <p>八、联系方式</p>
        <p>九、注意事项</p>
        <p>……</p>
        <p>发布公告日期：2015-2-27</p>
        <p style="text-align:center;">
                 <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="icon-ok"></i> 通过</a> 
                 <a href="" class="btn btn-primary radius"><i class="icon-remove"></i> 不通过</a>
                 <a onclick="history.go(-1)" class="btn btn-default radius"><i class="icon-remove"></i> 返回</a>
        </p>
 	</div>
</div>

</div>
        
        
    </body>
</html>