@charset "utf-8";
/* CSS Document */

/*******************
基本
********************/
body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    color: #333333;
}
ol,ul,li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
img {
    vertical-align: top;
    border: 0px
}
a {
    text-decoration: none
}
a:hover {
    text-decoration: none;
}

/*页面宽度*/

#footer {
    width: 100%;
   	_width: 99.8%;
    text-align: center;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    _ margin-top: 0px;
    background-color: #f7f7f7;
}

/*******************快速导航********************/
#footer .quick_link {
    background: url(../Images/bg/bg_footer.gif) repeat-x #f1f1f1;
    height: 125px;
    padding-top: 15px;
    width: 100%;
    float: left
}
#footer .quick_link .quick_link_tab {
}
#footer .quick_link .quick_link_tab td {
    vertical-align: top;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #dcdcdc;
    line-height: 24px;
    padding-left: 20px;
    text-align: left;
    width: 201px;
}
#footer .quick_link .quick_link_tab td b {
    font-size: 14px;
    font-family: "Microsoft YaHei",Arial;
    font-weight: 400;
}
#footer .quick_link .quick_link_tab td a {
    color: #666666;
    font-size: 12px;
    margin: 0;
}

/*******************底部导航********************/

#footer .footer_link .foter_width {
	width: 1190px;
	margin: 0 auto;
}	
#footer .footer_link ul{
	margin-left:50px; 
}
#footer .footer_link ul li.footer_li{
	float: left;
	margin: 60px 0;
    width: 180px;
}
#footer .footer_link ul li.footer_li a.fotter_a{
    display: block;
    text-align: left;
    height: 25px;
    color: #b1b1b1;
    font-family: '微软雅黑';
}
#footer .footer_link ul li.footer_li a.fotter_a{
    color: #c81623;
}
#footer .footer_link ul li.footer_li a.fotter_div{
	text-align: left;
	padding-bottom:10px;
	display: block; 
}
#footer .footer_link ul li.footer_li a:hover{
    text-decoration: none;
}
#footer .footer_link ul li.footer_li a.fotter_div b{
    color: #666;
}
#footer .footer_link ul.ewm_ul {
	margin-right:50px; 
}
#footer .footer_link ul.ewm_ul li.ewm_li{
	float: right;
	margin: 50px 20px ;
}
#footer .footer_link ul.ewm_ul li div.fotter_div{
	padding-bottom: 20px;
}
#footer .fotter_bq, .fotter_bq a{
	padding: 10px 0 30px 0px;
	color: #b1b1b1;
	font-family: "微软雅黑"
}

