*{
	padding :0px;
	margin: 0px;
	font-size: 14px;
	font-family: "微软雅黑";
	color:#FFF;
	background:#000;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.main .top{
	/* width: 1190px; */
	margin: 20px auto;
}
.main .top h1{
	font-size: 50px;
	text-align: center;
	color: #0988a7;
}
.main .content{
	border-top:1px solid #ddd;
}
.main .content .content-div{
/*	width: 1190px;
	margin: 0px auto;
	padding:20px 0px;*/
	margin: 0px auto;
    padding: 20px 20px;
  /*  overflow-x: scroll;*/
}
.table_content{
	width: 100%;
}
.table_content tr td,table tr th{
	text-align: center;
	height: 60px;
	
}
.table_content tr th span{
	font-size:26px;

}
/*.table_content tr td:nth-child(1){
	width: 10%;
}
.table_content tr td:nth-child(10){
	width: 12%;
}
.table_content tr td:nth-child(3){
	width: 14%;
}
.table_content tr td {
	width: 8%;
}*/
.table_content tr td:nth-child(1) span{
	color: #fff !important;
}
.table_content tr td:nth-child(2) span{
	color: #fff !important;
}

.table_content tr.reduce td span{
	color:#23e460;
}
.table_content tr.increase td span{
	color:#ff0000;
}

.table_content tr td span{
	display: block;
	width: 96%;
	font-size:32px;
	margin: 0 auto;
}