
.offer_content{
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 3px 10px 1px #Ebebeb;
    /*filter: progid:DXImageTransform.Microsoft.Shado(Strength=3, Direction=135, Color='#Ebebeb'); */
    /*上面是IE的样式代码*/
    -webkit-box-shadow:0px 3px 10px 1px #Ebebeb;/*这是兼容谷歌浏览器*/
    -moz-box-shadow:0px 3px 10px 1px #Ebebeb; /*这是兼容火狐浏览器*/
    background: #fff;
    padding: 25px 0;
}
.offer_content .offer_left {
    float: left;
    width: 50%;
    height: auto;
    overflow: hidden;
    margin: 15px 80px;
    text-align: left;
    border-right: 1px solid #e7e7e7;
}
.offer_left ul li h3{
	font-size: 22px;
	color: #333333;
	margin-bottom: 22px;
}
.offer_left ul li {
	font-size: 14px;
	line-height: 26px;
	color: #666666;
}
.link_style {
	text-align: center; 
}
.link_style img{
	height: 20px;
	width: 22px;
}
.link_style h5{
	float: left;
	width: 200px;
	 margin: 15px 0;
     text-align: left;
}
.link_style span{
    line-height: 22px;
    margin-left: 8px;
    font-size: 12px;
}
.offer_content .offer_right{
    float: left;
    height: auto;
    overflow: hidden;
    margin: 15px 25px;
    text-align: left;
    margin-top: 60px;
}
.offer_right ul li b{
    color: #f35f23;
    font-size: 24px;
}
.p_line{
    text-decoration: line-through;
}
.offer_right ul li.hmember b{
    color:#666;
    font-size: 16px;
}
.offer_right ul li{
	font-size: 14px;
	line-height: 26px;
	color: #666666;
}
.offer_right ul li img{
    width: 18px;
    height: 12px;
    padding: 7px;
}
.buy_left {
    width: 450px;
    float: left;
    padding: 12px 0%;
    text-align: center;
}
.buy_left h4  {
    float: left;
    font-size: 12px;
    text-align: right;
    color: #757575;
    line-height: 25px;
}
.buy_left .counter {
    float: left;
    border: 1px solid #757575;
    border-radius: 3px;
    background: #fff;
}
.buy_left .counter input.init_peice {
    font-size: 12px;
    width: 62px;
    color: #ababab;
    border-right: 1px solid #ababab;
}
.buy_left .counter input {
    background: #fff;
    width: 22px;
    height: 23px;
    font-size: 14px;
    text-align: center;
    border: none;
}
.buy_left .counter input.init_unit {
    padding: 0px;
}
.buy_btn a {
    display: block;
    width: 120px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    background: #bc1018;
    color: #fff;
    line-height: 36px;
    margin-top: 22px;
}
.buy_btn a i{
	font-size: 20px;
	font-weight: normal;
}
.buy_btn a b{
	font-weight: normal;
	line-height: 40px;
}
.buy_btn{
    text-align: left;
    width: 110px;
    clear: both;
}
.buy_btn a:hover{
	text-decoration: none;
}


.buy_left .counter {
    float: left;
    margin: 1px 8%;
    border: 1px solid #757575;
    border-radius: 3px;
    background: #fff;
}
.buy_left .counter input {
    background: #fff;
    width: 22px;
    height: 23px;
    font-size: 14px;
    text-align: center;
    border: none;
}
.counter #text_box {
    border-left: 1px solid #757575;
    border-right: 1px solid #757575;
    width: 30px;
}
.buy_btn.baoj a img {
    width: 22px;
    margin-top: 8px;
    margin-right: 3px;
}
.buy_btn.baoj{
	margin-top: 48px;
}
.buy_btn.baoj a{
    color:#fff;
}
.offer_right ul li .qianse{
	color: #A09D9D;

}


/* 商品详情修改*/
.offer_content .left_img{
    float: left;
    padding: 0 20px;
    width: 302px;
}

/*商品详情图片展示*/
.tb-pic a{display:table-cell;text-align:center;vertical-align:middle;}
.tb-pic a img{vertical-align:middle; width: 100%;}
.tb-pic a{*display:block;*font-family:Arial;*line-height:1;}
.tb-thumb{margin:10px 0 0;overflow:hidden;}
.tb-thumb li{background:none repeat scroll 0 0 transparent;float:left;height:62px;margin:0 6px 0 0;overflow:hidden;/*padding:1px;*/}
.tb-s310, .tb-s310 a{height:310px;width:300px;}
.tb-s310, .tb-s310 img{height:310px;max-width:400px;}
.tb-s310 a{*font-size:271px;}
.tb-s40 a{*font-size:35px;}
.tb-s40, .tb-s40 a{height:60px;width:52px;}
.tb-booth{border:1px solid #CDCDCD;position:relative;z-index:1;}
.tb-thumb .tb-selected{background:none repeat scroll 0 0 #C30008;height:60px;padding:2px;}
.tb-thumb .tb-selected div{background-color:#FFFFFF;border:medium none;}
.tb-thumb li div{border:1px solid #CDCDCD;}
div.zoomDiv{z-index:999;position:absolute;top:0px;left:0px;width:200px;height:200px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
div.zoomMask{position:absolute;background:url("../images/icon/mask.png") repeat scroll 0 0 transparent;cursor:move;z-index:1;}
.fdj{
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: #fff;
  padding:5px;
}
.play img{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 5px;
}
/*商品详情图片展示end*/

.left_center{
    float: left;
    padding: 0 20px;
    width: 500px;
    border-right: 1px solid #000;
}
.left_center .h31{
    font-size: 18px;
    padding: 5px 0px 20px 0px;
}
.left_center .pr_time{
    position: relative;
}
.left_center .pr_time .time_icon{
     position: absolute;
    background: #c81623;
    color: #fff;
    text-align: center;
    width: 24px;
    padding: 6px 7px;

}
.left_center .pr_time .time_icon:after{
    content: ' ';
    font-size: 0;
    position: absolute;
    bottom: 12px;
    margin-left: -7px;
    left: 44px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0px 6px 7px;
    border-color: transparent #c81623 transparent;
}
.left_center .pr_time .time_text{
    margin-left: 55px;
}
.left_center .pr_time .time_text .h32{
    font-size: 16px;
    color: #c81623;
   margin-bottom: 6px; 
}
.left_center .offer{
    margin-top:30px; 
}
.left_center .offer_num{
    padding-top:10px; 
}
.left_center .offer_num b{
    font-size: 20px;
}
.c816{
    color: #c81623
}
.left_center .add_jian{
    margin-top:20px; 
    padding-left: 10px;
}
.left_center .add_jian #add,.left_center .add_jian #jian{
    border:1px solid #ddd;
    background: #fff;
    width: 30px;
    height: 30px;
}
.left_center .add_jian #num{
    height: 30px;
    padding: 0 10px;
    width: 130px;
    margin: 0 6px;
}
.left_center .add_jian .jian_tex{
    padding-left: 10px;
}
.left_center  .submit_but .but{
    margin: 10px 10px;
    width: 233px;
    height: 40px;
    background: #c81623;
    border:0px;
    color: #fff;
    font-size: 16px;
}
.left_center  .submit_but .but_bag{
    background: #bfb5b6 !important;
}

.left_center .auction_text{
    margin-top:10px; 
}
.left_center .auction_text .auction_ul li{
    float: left;
    width: 30%;
    height: 20px;
    color: #7d7a7a;
}
.left_ringt{
    float: left;
    width: 257px;
    padding: 0 20px;

}
.left_ringt .product_details p{
    line-height: 25px;
    padding-bottom: 5px;
}
.left_ringt .offers_auction{
    border-radius: 5px 5px 0px 0px;
    border:1px solid #ddd;
}
.left_ringt .offers_auction .offers_top{
    height: 40px;
    line-height: 40px;
    background: #ddd;
    padding: 0 20px;
}
.left_ringt .offers_auction .offers_top h3 a{
    float: right;
}
.left_ringt .offers_auction .offers_auction_text{
    padding: 0 10px;
}
.left_ringt .offers_auction .offers_auction_text ul li{
    float: left;
    width: 33%;
    padding: 10px 0px;
}
.left_ringt .offers_auction .offers_auction_text ul li .of_au_span{
    display: block;
    width: 35px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}
.left_ringt .offers_auction .offers_auction_text ul li .span_top{
    
    border: 1px solid #c81623;
    
}
.left_ringt .offers_auction .offers_auction_text ul li.li_last{
    text-align: right;
}
.details_text{
    padding: 20px 25px;
}
.details_text p{
    text-indent: 20px;
}
/* 商品详情修改 end*/