@charset "utf-8";

.bodyCon08{}
.bodyCon08 .students{margin:0 auto;width:1152px;height:330px;position:relative;}
.bodyCon08 .students p.PP{width:510px;height:50px;font-size:16px;color:#333;text-align:center;position:absolute;top:60px; left:300px;}
#four_flash{position:relative;width:1152px;height:280px; margin:0 auto;position:absolute;bottom:40px;}
#four_flash .flashBg{width:1090px;height:280px; margin:0 auto;position:relative;overflow:hidden;}
#four_flash .flashBg ul.mobile{width:2000%;height:280px; position:absolute;}
#four_flash .flashBg ul.mobile li{border:1px solid #e7e7e7;float:left;width:260px;height:260px;margin-left:9px;color:#6C6E85;margin-top: 9px;}
#four_flash .flashBg ul.mobile li:hover{border:1px solid #e7e7e7; color:#fff;box-shadow:0px 0px 8px rgba(167,167,167,1);margin-top: 0px;}
#four_flash .flashBg ul.mobile li img{width:240px;height:240px;display:block; margin:10px;border:0; }
#four_flash .flashBg ul.mobile li dd{font-size:20px;width:250px;line-height:60px;text-align:center;border-bottom:1px solid #6C6E85;}
#four_flash .flashBg ul.mobile li p{font-size:16px; text-align:center;width:250px; line-height:24px;margin-top:10px;}
#four_flash .flashBg ul.mobile li a{display:block;width:260px;height:250px;border:0px;}
#four_flash .but_left{width:29px;height:55px;position:absolute; top:100px; left:0px;background:url(../images/qianxleft.png) no-repeat;}
#four_flash .but_right{width:29px;height:55px; position:absolute; top:100px; right:0px;background:url(../images/qianxr.png) no-repeat;}
#four_flash .but_left:hover{background:url(../images/qianxleft1.png) no-repeat;}
#four_flash .but_right:hover{background:url(../images/qianxr1.png) no-repeat;}

/*放大图片显示位置*/
#show{width: 540px;box-shadow:0px 0px 8px rgba(167,167,167,1);padding: 20px;position: fixed;z-index: 100;left: 500px;top: 200px;background: #fff;}
#close{position: absolute;top:0;right: 0;background:url(../images/close.png) no-repeat;display: block;width: 18px;height:18px; }
#close:hover{background:url(../images/close1.png) no-repeat; }




